/* general */
* {
    margin: 0;
    padding: 0;
    border: 0;

    list-style-type: none;

    text-decoration: none;
    color: #000;
    font-family: sans-serif;

    transition: .2s;
    box-sizing: border-box;
}

body, html {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    background-color: #fff;
}

button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    font-family: cursive;
}

.disnone {
    display: none !important;
}

.logo_container, .page_container, .navigation_container, .navigation_container, .address_container {
    max-width: 33%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover {
    color: #09afff;
}
/* header */
header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;

    background-color: #e1e1e155;

    box-shadow: 0px 1px 20px 0px;
    z-index: 1;
}

.page_name {
    font-family: cursive;
}

.logo_image {
    max-width: 100px;
}

.navigation_container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navigation_container li {
    margin: 10px 5px;
}

/* main */

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.fixed_container {
    max-width: 1004px;
}

.about_container {
    margin: 50px auto;
}

.about_header {
    text-align: center;
    font-size: 24px;
}

.description_container {
    text-align: justify;
}

.table_container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 50px auto;
}

.table_container table {
    border-collapse: collapse;
}

.table_container th {
    padding: 20px;
    border: 1px solid #525252;

    font-size: 20px;
    color: #000;
    font-family: cursive;
    background-color: #fff;
}

.table_container td {
    padding: 10px;
    border: 1px solid #525252;

    background-color: #ccc;
}

.table_container tr:nth-child(2n) td {
    background-color: #fff;
}

.table_container tr:nth-child(1) td, .table_container tr td:nth-child(1) {
    background-color: #09afff;
    color: #fff;
}

/* footer */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 10px;

    background: #000;
    box-shadow: 0px -4px 20px 0px;
}

footer a, footer p {
    color: #fff;
}

.address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.address  a{
    margin: 10px;
}

/* Auth */

.auth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding: 40px;
    border-radius: 10px;

    background-color: #fff;
    box-shadow: 0 0 20px 0;
}

.auth input {
    min-width: 45%;

    padding: 20px 15px;
    border: 1px solid #000;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 18px;
    background-color: #fff;
}

.auth_submit, .auth_reset {
    cursor: pointer;
}

/* Pop Up */

.popUp_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000055;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: .2s;
}

.popUp {
    padding: 20px;
    background-color: #000;
    border-radius: 10px;
}

.popUp button {
    display: inline-block;
    min-width: 130px;
    padding: 10px;
    border-radius: 5px;

    background-color: #09afff;
    margin: 50px 0 0;

    text-align: center;
}

.button_wrap {
    display: flex;
    justify-content: space-between;
}

.message {
    padding: 20px;

    color: #fff;
    font-size: 24px;
}

/* Articles */
.articles_container, .Articles_component {
    width: 100%;
}

.articles_container nav {
    position: fixed;
    left: 0;
    top: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    transform: translateX(-80%);
    box-shadow: 0 0 5px 0;

    transition: .2s;
}
.articles_container nav:hover, .search_input:focus ~ nav:hover {
    transform: translateX(0);
}

.search_con {
    position: relative;
    width: 100%;
    padding: 20px;
}

.search_input {
    padding: 20px 45px 20px 10px;
    box-shadow: 0 0 5px 0;

    font-size: 18px;
    outline: none;

}

.search_button {
    width: 39px;
    height: 61px;
    position: absolute;
    left: 252px;
    top: 20px;

    background-image: url("../img/loop.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fff;
}

.button_group {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button_group button {
    padding: 10px 20px;
    border-radius: 2px;
    /* box-shadow: 0 0 5px 0; */
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;

}

.next {
    background-image: url("../img/arrow.svg");
    background-size: 45px;
    transform: rotate(180deg);
}

.read {
    background-image: url("../img/book.svg");
    background-size: contain;
}

.prev {
    background-image: url("../img/arrow.svg");
    background-size: 45px;
}

.list_article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

.item_article {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;

    box-shadow: 0 0 10px 0;
}

.articleLink {
    display: block;
    padding: 20px;
}

.item_article:nth-last-child(1) {
    margin-bottom: 0;
}

.AddArticle {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;

    box-shadow: 0 0 10px 0;

    cursor: pointer;
}

.add_container textarea {
    width: 100%;
    box-shadow: 0 0 5px 0;
    border-radius: 5px;
    margin-top: 10px;
    padding: 20px;
}

.article_description {
    overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
}

.grade_con {
    display: flex;

    padding: 20px;
}

.grade_con button {
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;


    background-color: #fff;
    box-shadow: 0 0 5px 0;
}

.grade_count {
    margin: 0 10px;
    text-align: center;
    align-self: center;
}

.grade_selected {
    background-color: #f00 !important;
    color: #fff;
}


/* Agents */

.list_agents {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.item_agents {
    width: 100%;

    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;

    font-size: 18px;

    box-shadow: 0 0 10px 0;
}

.item_agents:nth-last-child(1) {
    margin-bottom: 0;
}

.item_agents label, .item_agents p {
    padding: 10px;
    border-bottom: 1px solid #000;
}

.item_agents a {
    display: block;

    margin-top: 10px;
    padding: 10px;
    border: 1px solid #000;
}
/* Add */

.add_container {
    display: flex;
    flex-direction: column;

    margin: 50px auto;
}
.add_container label {
    width: 100%;
    position: relative;

    padding: 20px;
    border-bottom: 1px solid #000;

    font-size: 18px;

}
.add_container input, .add_container select {
    width: 100%;

    margin-top: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;

}
.add_container button {
    width: 100%;

    padding: 20px;
    margin-top: 10px;

    font-size: 18px;

    box-shadow: 0 0 5px 0;
}

.help {
    position: absolute;
    opacity: 0;

    max-width: 300px;
    bottom: -20px;
    left: 120px;

    padding: 10px;
    border-radius: 10px;

    font-size: 14px;
    color: #fff;

    background-color: #000000cf;

    transition: .3s;
    z-index: -1;
}
.add_container label:hover .help {
    opacity: 1;
    z-index: 0;
}

/* Remove Agent */

.removeCon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000055;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: .2s;
}
.remove {
    padding: 50px;
    border-radius: 10px;

    background-color: #fff;
}
.removeButtonCon {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    margin-top: 10px;
}
.removeButtonCon button {
    padding: 10px 20px;

    background-color: inherit;

    font-size: 16px;
    color: #000;

    box-shadow: 0 0 5px 0;
}

/* ViewArticle */

#pdf_renderer {
    width: 100%;
}
